@import '../variables.css';

.media__container_card {
    width: 100%;
    transition: .5s;
    overflow: hidden;
}



.media__image {
    height: 15rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 10px;
}

.media__image>img {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.media__container_card:hover>a>.media__image>img {
    transform: scale(1.15);
}

.media__container_info {
    margin-bottom: .5rem;
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    opacity: .75;
}

.media__container_info>span {
    margin: 0 .7rem;
}

.media__container_vote {
    display: flex;
    align-items: flex-start;
}

.media__container_vote>img {
    width: 1.4rem;
    margin-right: .5rem;
}

.media__container_type>div {
    display: flex;
    align-items: center;
}

.media__container_type>div>img {
    margin-right: .5rem;
}

.media__container_vote {
    display: flex;
    align-items: center;
}

.media__container_vote>img {
    width: 1.6rem;
}

.media__title {
    max-width: calc(100% - 3rem);
    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media(max-width: 600px) {

    .media__title {
        font-size: 1.6rem;
    }

}