@import '../variables.css';

.menu__container {
    margin: 0 auto;
    max-width: 100%;
    width: 1440px;
    background-color: var(--pale-blue);
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.menu__container>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__container_navigate {
    display: flex;
    align-items: center;
}

.menu__container_item {
    font-size: 2.2rem;
    margin-left: 5rem;
    transition: .3s;
    position: relative;
}

.logo {
    width: 3rem;
}

.menu__container_item a path {
    transition: .3s;
}

.menu__container_item:hover a path {
    fill: var(--red);
}

.menu__container_item>a {
    display: flex;
    place-items: center;
}

.menu__container_item>a>span {
    padding-left: .5rem;
}

.menu__container_pop {
    min-width: 6rem;
    background-color: var(--soft-gray);
    padding: .5rem;
    font-size: 1.3rem;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.menu__container_item:hover>.menu__container_pop {
    opacity: 1;
}

.avatar {
    width: 4rem;
    border: 1.5px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width: 600px) {

    .menu__container {
        padding: 1rem 2rem;
    }

    .menu__container_item {
        margin-left: 3.5rem;
    }

}