@import '../../styles/variables.css';

.form__container{
    margin: 0 auto;
    max-width: 100%;
    width: 1440px;
    padding: 0 5rem;
    margin-top: 12rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
}

.search__input{
    padding: 1rem 0;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid transparent;
    outline: none;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: inherit;
    color: var(--white);
    cursor: pointer;
}

.search__input:focus{
    border-bottom: 1.5px solid var(--soft-blue);
    caret-color: var(--red);
}

.search__input::placeholder{
    color: var(--soft-gray);
    font-size: 2.5rem;
    font-weight: 300;
    font-family: inherit;
}

.search__icon{
    padding-right: 2rem;
}

.btn-search{
    background-color: var(--soft-blue);
    margin-left: 2rem;
    color: var(--white);
    font-weight: 500;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

.btn-search:hover{
    background-color: var(--white);
    color: var(--dark-blue);
}


@media(max-width: 600px){

    .search__icon{
        display: none;
    }

    .form__container{
        padding: 0 2rem;
    }

    .search__input, .search__input::placeholder{
        font-size: 2rem;
    }

}