@import '../../../App.css';

.mediaCard__container_card{
    margin: 2rem 1rem;
    width: 28rem;
    position: relative;
    flex: none;
    scroll-snap-align: start;
}

.mediaCard__container_interact{
    background-color: #000;
    margin-bottom: 1rem;
    height: 38rem;
    position: relative;
    overflow: hidden;
}

.mediaCard__container_interact > img{
    transition: .5s;
    width: 100%;
    height: 100%;
}

.mediaCard__container_interact:hover > img{
    transform: scale(1.1);
    opacity: .3;
}

.mediaCard__play{
    background-color: #ffffff67;
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 400;
    display: none;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    padding: .5rem;
    padding-right: 1rem;
    cursor: pointer;
    z-index: 99999;
}

.mediaCard__container_interact:hover > .mediaCard__play{
    display: flex !important;
}

.mediaCard__play > img{
    width: 3rem;
    margin-right: 1rem;
}

.mediaCard__category{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mediaCard__category > span {
    margin-right: 5px;
}

.mediaCard__container_bottom{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 5rem;
    left: 0rem;
    padding: 0 2rem;
    transition: .5s;
}

.mediaCard__container_card:hover .mediaCard__container_bottom{
    display: block !important;
}

.mediaCard__container_info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mediaCard__vote{
    color: var(--yellow);
    font-size: 1.8rem;
    font-weight: 500;
}

.mediaCard__vote > span{
    color: var(--white);
}

.mediaCard__title{
    max-width: 28rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 1.5rem;
    font-size: 3rem;
    font-weight: 500;
}