@import '../../../App.css';

.menu__container{
    margin: 0 auto;
    max-width: 100%;
    width: 1440px;
    background-color: var(--pale-blue);
    padding: 2rem 5rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
}

.menu__container_logo{
    width: 20rem;
    display: flex;
    align-items: center;
}

.menu__container_logo > h2{
    margin-left: 1rem;
}

@media(max-width: 600px){

    .menu__container{
        padding: 2rem;
    }

}