@import '../../../App.css';

.menu__container{
    margin: 0 auto;
    padding: 2rem 3rem;
    max-width: 100%;
    width: 1440px;
    background-color: var(--pale-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.menu__container_navigation{
    display: flex;
    align-items: flex-end;
}

.menu__container_navigation > li{
    margin: 0 2rem;
}

.menu__container_user{
    width: 3rem;
}

.icon:hover > path{
    fill: var(--red) !important;
}

.icon__active > path{
    fill: var(--white) !important;
}