@import '../../../App.css';

.pagination__c{
    height: 5rem;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__numeral{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button__pagination{
    display: flex;
    place-items: center;
    background-color: var(--dark-blue);
    color: var(--white);
    margin: .5rem;
    padding: .5rem 1.5rem;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
    border: 1.5px solid var(--soft-gray);
    border-radius: 5px;
    transition: .3s;
}

.button__pagination--active, .button__pagination:hover{
    background-color: var(--white) !important;
    color: var(--dark-blue) !important;
}